{% block content %}
<center>
    <form action="{%url 'signup'%}" method="post">
        {%csrf_token%}
        아이디:
        <input name="username" type="text" value="">
        <br><br>
        비밀번호:
        <input name="password1" type="password" value="">
        <br><br>
        비밀번호 확인:
        <input type="password" name="password2">
        <br><br>
        닉네임 입력:
        <input name="nickname" type="text" value="">
        <br><br>
        <input type="submit" value="Sign Up!">
    </form>
</center>
{% endblock %}