<center style="font-size: 1rem;">
    <h1>메인페이지</h1>
</center>
<div style="float: right;">
    {%if user.is_authenticated%}
    <div style="font-size: 1.1rem;">
        {{user.username}}님ㅤ
        <form action="{%url 'logout'%}" method="POST" style="float: right; font-size: 1.1rem;">
            {%csrf_token%}
            <input type="submit" value="로그아웃" style="font-size: 1.1rem;">
        </form>
    </div>
    {%else%}
    <a href="{%url 'signup'%}">회원가입</a>
    <a href="{%url 'login'%}">로그인</a>
    {%endif%}
</div>
<br>
<br>
<hr>
{%if user.is_authenticated%}
<div style="text-align: right;">
    <a href="{%url 'voca_cate'%}">단어장</a>
    <a href="{%url 'voca_test'%}">단어 테스트</a>
    <a href="{%url 'listen'%}">영어듣기</a>
    <a href="{%url 'write'%}">손글씨 쓰기</a>
    <a href="{%url 'pronounce'%}">발음 연습</a>
</div>
{%else%}
<div>로그인 하지 않으면 메뉴 안보임</div>
{%endif%}
<br>
<br>
<center>
    <div style="border:1px solid; padding:15px; width: 60rem;">
        <h3>오늘의 표현</h3> {{todays.today_word}} {{todays.today_mean}}
    </div>
</center>