<center style="font-size: 1rem;">
    <h1>메인페이지예시</h1>
</center>
<div style="float: right;">
    {%if user.is_authenticated%}
    <div style="font-size: 1.2rem;">
        {{user.username}}님ㅤ
        <form action="{%url 'logout'%}" method="POST" style="float: right; font-size: 1.2rem;">
            {%csrf_token%}
            <input type="submit" value="로그아웃" style="font-size: 1.2rem;">
        </form>
    </div>
    {%else%}
    <a href="{%url 'signup'%}">회원가입</a>
    <a href="{%url 'login'%}">로그인</a>
    {%endif%}
</div>
<br>
<br>
<hr>
<div>
    <a href="{%url 'voca'%}">전체 단어 (검색기능 완)</a>
    <a href="{%url 'voca_elementary'%}">초등 단어</a>
    <a href="{%url 'voca_high'%}">중고 단어</a>
    <a href="{%url 'voca_ma'%}">전문 단어</a>
    <a href="{%url 'voca_test'%}">단어 테스트</a>
    <a href="{%url 'listen'%}">영어듣기</a>
    <a href="{%url 'write'%}">손글씨 쓰기</a>
    <a href="{%url 'pronounce'%}">발음 연습</a>
</div>
<h3>오늘의 표현</h3> {{todays.today_word}} {{todays.today_mean}}