<div style="float: right;">
    <form action="{%url 'index'%}">
        <button>홈으로 돌아가기</button>
    </form>
</div>
<center>
    <h1>단어 카테고리 선택</h1>

    <div>
        <form action="{%url 'voca'%}">
            <button>전체 단어</button>
        </form>
        <form action="{%url 'voca_elementary'%}">
            <button>초등 단어</button>
        </form>
        <form action="{%url 'voca_high'%}">
            <button>중고 단어</button>
        </form>
        <form action="{%url 'voca_ma'%}">
            <button>전문 단어</button>
        </form>
    </div>
</center>